*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn
{
    background-color: white;
    color: orangered;
    margin:10px 2px ;
    padding: 4px;
    border: 2px solid orangered;
}
.btn:hover{
    background-color: white;
    color: black;
}

.btnHesap
{
    background-color: white;
    color: orangered;
    margin:10px 2px ;
    padding: 4px;
    border: 2px solid orangered;
}

.btnHesap:hover
{
    background-color: white;
    color: orangered; 
}



.sekiller img
{
  width: auto;
  height: 250px;
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#ucgen_sekil
{
  display:none;
}

#daire_sekil
{
  display:none;
}

#dikdortgen_sekil
{
  display:none;
}

#yamuk_sekil
{
  display:none;
}

#altigen_sekil
{
  display:none;
}

#kare_sekil
{
  display:none;
}

.input
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.input div input:hover
{
    border: 2px solid black;
}

.input div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;

}

.input div label
{
    font-weight: bold;
    font-size: 18px;

}

.input div input
{
    border: 2px solid orangered;
}

.input div button
{
   color: black;
   font-size: 15px;
   font-weight: bold;
}

.result
{
    
    width: 200px;
    height: 200px;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    border: 2px solid orangered;
    
    
}